<form action="/crud/update?id=<%=id%>" method="POST" >
    <label>Title:</label><input name="title" type="text" required>
   <br><br> <p>Content:</p><textarea id="content" cols="86" rows ="20" name="content" placeholder="Add your content here....." required></textarea>
    <button type="submit">Update Blog</button></form>
